/* main html */
html, body, #appDiv {  width: 100%;  height: 100%;  }

/* Custom notification styles! */
.dGrowl-channel-warn .dGrowl-notification {
	background-color: rgb(255, 250, 245);
  border: 1px solid #e97b14;
}

/* buttons */
a.button {
  color: $white;
  background-color: $blue;
  border: 1px solid $light-gray;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  font-size: 0.8rem;
  margin: 0;
}

a.admin-button:hover {
  background-color: scale-color($blue, $lightness: -15%);
  color: $white !important;
}

/* noscript div */
.noscript { top: 0; left: 0; position: absolute; width: 100%; height: 100%; z-index: 1002; display: block; background-color: $body-bg; text-align: center; padding: 25px}

/* Loading overlay */
.pageOverlay { top: 0; left: 0; position: absolute; height: 100%; width: 100%; z-index: 1001; display: block; background-color: $steel; text-align: center; color: $light-gray;}
.loadingMessage {font-size: 1em; margin: 30px; color: $light-gray;}

/* top bar */
.app-header {
  height: 300px;
}

/* buttons under header */
.action-bar {
  height: 30px;
  position: absolute;
  right: 0;
  top: 70px;
  z-index: 500;
}
.action-bar ul {
  margin: 0;
  padding: 0;
}

.action-bar li {
  list-style-type: none;
  font-size: 0.6em;
  padding: 0 0 5px 15px;
  margin: 0 0 20px 2px;
  float: left;
}

/* search results pane */
.search-results {
  background: $topbar-bg;
  height: 200px;
  width: 100%;
}

.search-results .dgrid {
  height: 150px;
  width: 100%
}

.search-results-expanded {
  height: 400px !important;
}

.search-results.search-results-expanded .dgrid {
  height: 350px;
}

/* Main app body */
.app-body {
  margin: 70px auto;
}