<div class="dijitDialog" role="dialog" aria-labelledby="labelsDialog_title">
  <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
    <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" role="heading"></span>
		<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
          data-dojo-attach-event="ondijitclick: onCancel" title="Annuleren" role="button" tabIndex="-1">
			<span data-dojo-attach-point="closeText" class="closeText" title="Annuleren" tabIndex="-1">
        <i class="fa fa-times"></i></span>
		</span>
  </div>

  <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
    <div class="row">
      <div class="large-6 columns">
        <div class="placeholder-container">
          <label for="typeSelectNode-${id}">Type</label>
          <select id="typeSelectNode-${id}" data-dojo-attach-point="typeSelectNode"></select>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="placeholder-container">
          <label for="langSelectNode-${id}">Language</label>
          <select id="langSelectNode-${id}" data-dojo-attach-point="langSelectNode"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="placeholder-container">
          <label for="labelInputNode-${id}">Label</label>
          <input type="text" data-dojo-attach-point="labelInputNode" id="labelInputNode-${id}">
        </div>
      </div>
    </div>
    <div class="row footerButtons">
      <div class="large-12 columns text-center">
        <a href="#" data-dojo-attach-event="onClick: _okClick" data-dojo-attach-point="okButtonNode" class="button tiny">Ok</a>
        <a href="#" data-dojo-attach-event="onClick: _cancelClick" class="button tiny">Cancel</a>
      </div>
    </div>
  </div>
</div>