<html>
<head>
    <title>Atramhasis login</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://login.persona.org/include.js" type="text/javascript"></script>
    <script type="text/javascript">{{ js }}</script>
    <style>
        .login{
            margin: 20px;
            padding: 20px;
            font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
            border: 1px solid #d8d8d8;
            text-align: center;
            background-color: #F2F2F2;
        }
    </style>
</head>
<body>
    <div class="login">
        <h1>Atramhasis Admin login page</h1>

        {% if userid %}
            <p>You are logged in as  <b>{{ userid }}</b>.</p>
            <p>Got to the <a href='{{ request.route_path('admin') }}'>admin page</a> or click the button to log out:</p>
        {% else %}
            <p>You need to log in to use the admin page:</p>
        {% endif %}

        {{ button }}
    </div>
</body>
</html>
