# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log

# Sphinx documentation
docs/build/
# Sphinx on rtd
_build

# IDE stuff:
.idea
.idea/
.idea/atramhasis.iml
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml

# sqlite stuff
*.sqlite

# Vagrant stuff:
.vagrant/
Vagrantfile
vagrant_provision/

#compass
.sass-cache

# dojo/js stuff
atramhasis/static/node_modules
atramhasis/static/admin/src/*
!atramhasis/static/admin/src/dojoConfig.js
!atramhasis/static/admin/src/app
atramhasis/static/admin/dist

atramhasis/static/admin/node_modules

atramhasis/scaffolds/atramhasis_demo/+package+/static/css
atramhasis/scaffolds/atramhasis_demo/+package+/static/img
atramhasis/scaffolds/atramhasis_demo/+package+/static/js
atramhasis/scaffolds/atramhasis_demo/+package+/static/package.json
atramhasis/scaffolds/atramhasis_demo/+package+/static/package-lock.json
atramhasis/scaffolds/atramhasis_demo/+package+/static/scss/atramhasis
atramhasis/scaffolds/atramhasis_demo/+package+/static/admin
atramhasis/scaffolds/atramhasis_demo/atramhasis-requirements-dev.txt_tmpl
atramhasis/scaffolds/atramhasis_demo/atramhasis-requirements.txt_tmpl

atramhasis/scaffolds/atramhasis_scaffold/+package+/static/css
atramhasis/scaffolds/atramhasis_scaffold/+package+/static/img
atramhasis/scaffolds/atramhasis_scaffold/+package+/static/js
atramhasis/scaffolds/atramhasis_scaffold/+package+/static/package.json
atramhasis/scaffolds/atramhasis_scaffold/+package+/static/package-lock.json
atramhasis/scaffolds/atramhasis_scaffold/+package+/static/scss/atramhasis
atramhasis/scaffolds/atramhasis_scaffold/+package+/static/admin
atramhasis/scaffolds/atramhasis_scaffold/atramhasis-requirements-dev.txt_tmpl
atramhasis/scaffolds/atramhasis_scaffold/atramhasis-requirements.txt_tmpl

# sqlite database created for tests.
test.db
