sudo: false
language: python
os: linux
dist: focal
python:
 - 3.9
 - 3.10
 - 3.11
 - 3.12
before_install:
 - pip install --upgrade pip
 - pip install setuptools==59.6.0 #https://github.com/pypa/setuptools/issues/3293
install:
  - pip install -r requirements-dev.txt
  - python setup.py develop
script:
 - py.test --cov atramhasis --cov-report term-missing tests
after_success:
 - coveralls
