include *.txt *.ini *.cfg *.rst LICENSE
recursive-include atramhasis *.ico *.png *.css *.gif *.jpg *.pt *.txt *.jinja2 *.js *.html *.xml *.po *.pot *.mo openapi.yaml
graft atramhasis/scaffolds
graft atramhasis/alembic
prune tests
