# Basic Atramhasis dev requirements

# pyramid
pyramid-debugtoolbar==4.6

# Testing
pytest==5.3.5
pytest-cov==2.8.1
py==1.8.1
coveralls==1.10.0
webtest==2.0.34
mock==3.0.5
testfixtures==6.11.0

# Documentation
Sphinx==2.3.1
sphinxcontrib-httpdomain==1.7.0
pygments==2.5.2

# waitress
waitress==1.4.2

# Linting
flake8==3.7.9
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.1.0
