# Runtime requirements
--requirement requirements.txt

# pyramid
pyramid-debugtoolbar==4.3

# skosprovider_oe (for generating fixtures)
skosprovider_oe==0.5.0

# Testing
pytest==3.3.0
pytest-cov==2.5.1
py==1.5.2
coveralls==1.2.0
webtest==2.0.29
mock==2.0.0
testfixtures==5.3.1

# Documentation
Sphinx==1.6.5
sphinxcontrib-httpdomain==1.5.0
pygments==2.2.0

# waitress
waitress==1.1.0

# Linting
flake8==3.5.0
mccabe==0.6.1
pep8==1.7.1
pyflakes==1.6.0
