# Runtime requirements
--requirement requirements.txt

# pyramid
pyramid-debugtoolbar==2.5

# skosprovider_oe (for generating fixtures)
skosprovider_oe==0.4.2

# Testing
pytest==2.9.1
pytest-cov==2.2.1
py==1.4.31
coveralls==1.1
webtest==2.0.23
mock==2.0.0
testfixtures==4.9.1

# Documentation
Sphinx==1.4.5
sphinxcontrib-httpdomain==1.5.0
pygments==2.1.1

# waitress
waitress==0.9.0

# Linting
flake8==2.5.4
mccabe==0.4.0
pep8==1.7.0
pyflakes==1.1.0
