# pyramid
pyramid==2.0
pyramid-tm==2.4
pyramid_rewrite==0.2
pyramid_openapi3==0.14.3
openapi-spec-validator==0.4.0  # https://github.com/p1c2u/openapi-core/issues/442

# skosprovider
skosprovider==1.2.0
skosprovider_sqlalchemy==1.0.0
pyramid_skosprovider==1.1.0
skosprovider_rdf==1.3.0
skosprovider_getty==1.1.0

language-tags==1.1.0

# database
sqlalchemy==1.4.28
zope.sqlalchemy==1.6
transaction==3.0.1

# jinja2
jinja2==2.11.3
markupsafe==2.0.1  # necessary for <3 jinja2 versions
pyramid-jinja2==2.8
Babel==2.9.1

# alembic
alembic==1.7.5

# validation
colander==1.8.3

# caching
dogpile.cache==1.1.4

# other
python-dateutil==2.8.2
rdflib==6.2.0
bleach==4.1.0

# requests
requests==2.26.0
cachecontrol==0.12.10
