# Basic Atramhasis dev requirements

# pyramid
pyramid-debugtoolbar==4.6.1

# Testing
pytest==5.4.1; python_version < '3.0'
pytest==5.4.1; python_version >= '3.0'
pytest-cov==2.8.1
coveralls==1.11.1
webtest==2.0.34
mock==4.0.2; python_version < '3.6'
mock==4.0.2; python_version >= '3.6'
testfixtures==6.13.1

# Documentation
Sphinx==1.8.5 ; python_version < '3.5'
Sphinx==2.4.2 ; python_version >= '3.5'
sphinxcontrib-httpdomain==1.7.0
pygments==2.5.2

# waitress
waitress==1.4.3

# Linting
flake8==3.7.9
mccabe==0.6.1
pep8==1.7.1
pyflakes==2.1.1
