<div>
  <div class="large-12 columns" style="margin-top: 20px;">
    <div class="large-10 columns">
      <h1 data-dojo-attach-point="conceptTitleViewNode"></h1>
      <span class="concept-title-info" data-dojo-attach-point="idViewNode"></span>
      <span class="concept-title-info" data-dojo-attach-point="typeViewNode"></span>
      <span class="concept-title-info" data-dojo-attach-point="uriViewNode"></span>
    </div>
    <div class="large-2 columns">
    </div>
  </div>
  <div class="large-12 columns">
  </div>
  <div class="large-12 columns"></div>
</div>