<div>
    <div class="NoteContainer" data-dojo-attach-point="NoteContainer">
        <span data-dojo-attach-point="noteLabel"></span>
        <button data-dojo-attach-point="noteButton"></button>
        <div data-dojo-attach-point="definitionListNode"></div>
        <div data-dojo-attach-point="changeNoteListNode"></div>
        <div data-dojo-attach-point="editorialNoteListNode"></div>
        <div data-dojo-attach-point="exampleListNode"></div>
        <div data-dojo-attach-point="historyNoteListNode"></div>
        <div data-dojo-attach-point="scopeNoteListNode"></div>
        <div data-dojo-attach-point="noteListNode"></div>
    </div>
</div>