alabaster==1.0.0
    # via sphinx
alembic==1.17.2
    # via atramhasis (pyproject.toml)
attrs==25.4.0
    # via
    #   jsonschema
    #   referencing
babel==2.17.0
    # via
    #   atramhasis (pyproject.toml)
    #   sphinx
beautifulsoup4==4.14.3
    # via webtest
bleach==6.3.0
    # via atramhasis (pyproject.toml)
cachecontrol==0.14.4
    # via atramhasis (pyproject.toml)
cachetools==6.2.2
    # via pyld
certifi==2025.11.12
    # via requests
charset-normalizer==3.4.4
    # via requests
colander==2.0
    # via atramhasis (pyproject.toml)
coverage==7.13.0
    # via pytest-cov
decorator==5.2.1
    # via dogpile-cache
docutils==0.21.2
    # via sphinx
dogpile-cache==1.5.0
    # via atramhasis (pyproject.toml)
exceptiongroup==1.3.1
    # via pytest
flake8==7.3.0
    # via atramhasis (pyproject.toml)
frozendict==2.4.7
    # via pyld
greenlet==3.3.0
    # via sqlalchemy
html5lib==1.1
    # via
    #   skosprovider
    #   skosprovider-rdf
hupper==1.12.1
    # via pyramid
idna==3.11
    # via requests
imagesize==1.4.1
    # via sphinx
iniconfig==2.3.0
    # via pytest
iso8601==2.1.0
    # via colander
isodate==0.6.1
    # via
    #   openapi-core
    #   rdflib
jinja2==3.1.6
    # via
    #   atramhasis (pyproject.toml)
    #   pyramid-jinja2
    #   sphinx
jsonschema==4.25.1
    # via
    #   openapi-core
    #   openapi-schema-validator
    #   openapi-spec-validator
jsonschema-path==0.3.4
    # via
    #   openapi-core
    #   openapi-spec-validator
jsonschema-specifications==2025.9.1
    # via
    #   jsonschema
    #   openapi-schema-validator
language-tags==1.2.0
    # via
    #   atramhasis (pyproject.toml)
    #   skosprovider
lazy-object-proxy==1.12.0
    # via openapi-spec-validator
lxml==6.0.2
    # via pyld
mako==1.3.10
    # via
    #   alembic
    #   pyramid-mako
markupsafe==3.0.3
    # via
    #   atramhasis (pyproject.toml)
    #   jinja2
    #   mako
    #   pyramid-jinja2
    #   werkzeug
mccabe==0.7.0
    # via flake8
more-itertools==10.8.0
    # via openapi-core
msgpack==1.1.2
    # via cachecontrol
openapi-core==0.19.5
    # via pyramid-openapi3
openapi-schema-validator==0.6.3
    # via
    #   openapi-core
    #   openapi-spec-validator
openapi-spec-validator==0.7.2
    # via openapi-core
packaging==25.0
    # via
    #   pytest
    #   sphinx
    #   zope-sqlalchemy
parse==1.20.2
    # via openapi-core
pastedeploy==3.1.0
    # via plaster-pastedeploy
pathable==0.4.4
    # via jsonschema-path
plaster==1.1.2
    # via
    #   plaster-pastedeploy
    #   pyramid
plaster-pastedeploy==1.0.1
    # via pyramid
pluggy==1.6.0
    # via
    #   pytest
    #   pytest-cov
pycodestyle==2.14.0
    # via flake8
pyflakes==3.4.0
    # via flake8
pygments==2.19.2
    # via
    #   atramhasis (pyproject.toml)
    #   pyramid-debugtoolbar
    #   pytest
    #   sphinx
pyld==2.0.3
    # via skosprovider
pyparsing==3.2.5
    # via rdflib
pyramid==2.0.2
    # via
    #   atramhasis (pyproject.toml)
    #   pyramid-debugtoolbar
    #   pyramid-jinja2
    #   pyramid-mako
    #   pyramid-openapi3
    #   pyramid-rewrite
    #   pyramid-skosprovider
    #   pyramid-tm
pyramid-debugtoolbar==4.12.1
    # via atramhasis (pyproject.toml)
pyramid-jinja2==2.10.1
    # via atramhasis (pyproject.toml)
pyramid-mako==1.1.0
    # via pyramid-debugtoolbar
pyramid-openapi3==0.19
    # via atramhasis (pyproject.toml)
pyramid-rewrite==0.2
    # via atramhasis (pyproject.toml)
pyramid-skosprovider==1.3.0
    # via atramhasis (pyproject.toml)
pyramid-tm==2.6
    # via atramhasis (pyproject.toml)
pytest==9.0.2
    # via
    #   atramhasis (pyproject.toml)
    #   pytest-cov
pytest-cov==7.0.0
    # via atramhasis (pyproject.toml)
python-dateutil==2.9.0.post0
    # via atramhasis (pyproject.toml)
pyyaml==6.0.3
    # via jsonschema-path
rdflib==6.3.2
    # via
    #   atramhasis (pyproject.toml)
    #   skosprovider-getty
    #   skosprovider-rdf
referencing==0.36.2
    # via
    #   jsonschema
    #   jsonschema-path
    #   jsonschema-specifications
requests==2.32.5
    # via
    #   atramhasis (pyproject.toml)
    #   cachecontrol
    #   jsonschema-path
    #   skosprovider-getty
    #   sphinx
rfc3339-validator==0.1.4
    # via openapi-schema-validator
rfc3987==1.3.8
    # via skosprovider
rpds-py==0.30.0
    # via
    #   jsonschema
    #   referencing
setuptools==80.9.0
    # via
    #   pyramid
    #   zope-deprecation
six==1.17.0
    # via
    #   html5lib
    #   isodate
    #   python-dateutil
    #   rfc3339-validator
    #   sphinxcontrib-httpdomain
skosprovider==1.5.1
    # via
    #   atramhasis (pyproject.toml)
    #   pyramid-skosprovider
    #   skosprovider-getty
    #   skosprovider-rdf
    #   skosprovider-sqlalchemy
skosprovider-getty==1.3.1
    # via atramhasis (pyproject.toml)
skosprovider-rdf==1.4.0
    # via atramhasis (pyproject.toml)
skosprovider-sqlalchemy==2.2.0
    # via atramhasis (pyproject.toml)
snowballstemmer==3.0.1
    # via sphinx
soupsieve==2.8
    # via beautifulsoup4
sphinx==8.1.3
    # via
    #   atramhasis (pyproject.toml)
    #   sphinxcontrib-httpdomain
sphinxcontrib-applehelp==2.0.0
    # via sphinx
sphinxcontrib-devhelp==2.0.0
    # via sphinx
sphinxcontrib-htmlhelp==2.1.0
    # via sphinx
sphinxcontrib-httpdomain==1.8.1
    # via atramhasis (pyproject.toml)
sphinxcontrib-jsmath==1.0.1
    # via sphinx
sphinxcontrib-qthelp==2.0.0
    # via sphinx
sphinxcontrib-serializinghtml==2.0.0
    # via sphinx
sqlalchemy==2.0.45
    # via
    #   atramhasis (pyproject.toml)
    #   alembic
    #   skosprovider-sqlalchemy
    #   zope-sqlalchemy
stevedore==5.6.0
    # via dogpile-cache
testfixtures==8.3.0
    # via atramhasis (pyproject.toml)
tomli==2.3.0
    # via
    #   alembic
    #   coverage
    #   pytest
    #   sphinx
transaction==5.0
    # via
    #   atramhasis (pyproject.toml)
    #   pyramid-tm
    #   zope-sqlalchemy
translationstring==1.4
    # via
    #   colander
    #   pyramid
typing-extensions==4.15.0
    # via
    #   alembic
    #   beautifulsoup4
    #   dogpile-cache
    #   exceptiongroup
    #   openapi-core
    #   referencing
    #   sqlalchemy
urllib3==2.6.2
    # via requests
venusian==3.1.1
    # via pyramid
waitress==3.0.2
    # via
    #   atramhasis (pyproject.toml)
    #   webtest
webencodings==0.5.1
    # via
    #   bleach
    #   html5lib
webob==1.8.9
    # via
    #   pyramid
    #   webtest
webtest==3.0.7
    # via atramhasis (pyproject.toml)
werkzeug==3.1.1
    # via openapi-core
zope-deprecation==6.0
    # via
    #   pyramid
    #   pyramid-jinja2
zope-interface==8.1.1
    # via
    #   pyramid
    #   transaction
    #   zope-sqlalchemy
zope-sqlalchemy==4.1
    # via atramhasis (pyproject.toml)
