<div>
  <div class="large-5 columns">
    <input type="text" placeholder="Type label title ..." data-dojo-attach-point="labelTitleNode"/>
  </div>
  <div class="large-2 columns">
    <select data-dojo-attach-point="languageSelectNode"></select>
  </div>
  <div class="large-4 columns">
    <select data-dojo-attach-point="labelTypeSelectNode"></select>
  </div>
  <div class="large-1 columns">
    <a href="#" class="button tiny" data-dojo-attach-event="onClick: _addLabel"><i class="fa fa-plus"></i></a>
  </div>
  <div class="large-12 columns">
    <div data-dojo-attach-point="labelGridNode" style="max-height: 350px;"></div>
  </div>
</div>