{% if request.registry.settings['dojo.mode'] == 'dist' %}
	{% set release_dir = 'atramhasis:static/admin/dist' %}
{% else %}
	{% set release_dir = 'atramhasis:static/admin/src' %}
{% endif %}
<html>
<head>
    <link rel="stylesheet" href="{{ request.static_path(release_dir + '/app/resources/App.css') }}">
    <title>Atramhasis Admin</title>
</head>
<body class="claro">

	<div id='appDiv'></div>

    <script src="{{ request.static_path(release_dir + '/dojoConfig.js') }}"></script>
	<script type="text/javascript">
		dojoConfig.baseUrl = '{{ request.static_path(release_dir) }}';
	</script>
    <script src="{{ request.static_path(release_dir + '/dojo/dojo.js') }}"></script>
	<script type="text/javascript">
		require(dojoConfig, ['app']);
	</script>

</body>
</html>
