{% extends 'templates/base.jinja2' %}

{% block html_title %}Home{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
      <label>Schemes:
        <select>
             {% for item in conceptschemes %}
                    <option>{{ item.id }}</option>
                {% endfor %}
        </select>
      </label>
  </div>
</div>
{% endblock %}