{% extends 'base.jinja2' %}

{% block html_title %}Home{% endblock %}



{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h5 class="title"> {% trans %}search{% endtrans %} </h5>
            <div class="content">
                <form id="search-form" action="#" method="get">
					<div class="row collapse">
                        <div class="large-3 columns">
                            <label class="inline">{% trans %}select_scheme{% endtrans %}:</label>
                        </div>
                        <div class="large-9 columns">
                            <select id="scheme">
                                {% for item in conceptschemes %}
                                <option value="{{ request.route_path('search_result', scheme_id=item.id) }}">{{ item.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>	
					<a id="schemerootlink" href="#" class="button radius">{% trans %}open{% endtrans %}</a>
                    <div class="row collapse">
                        <div class="large-3 columns">
                            <label class="inline">{% trans %}select_type{% endtrans %}:</label>
                        </div>
                        <div class="large-9 columns">
                            <select id="ctype"  name="ctype" >
                                <option value="all" selected>{% trans %}type_all{% endtrans %}</option>
                                <option value="concept">{% trans %}type_concept{% endtrans %}</option>
                                <option value="collection">{% trans %}type_collection{% endtrans %}</option>
                            </select>
                        </div>
                    </div>                    
                    <div class="row collapse">
                        <div class="large-3 columns">
                            <label class="inline">{% trans %}search_for{% endtrans %}:</label>
                        </div>
                        <div class="large-9 columns">
                            <input type="text" name="label" id="label" placeholder="<label>">
                        </div>
                    </div>
                    <button type="submit" class="radius button">{% trans %}submit{% endtrans %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}