{% extends 'base.jinja2' %}

{% from "macros.jinja2" import
	get_conceptscheme_label
%}

{% block html_title %}Concept schemes{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <h1 class="concept">{% trans %}select_scheme{% endtrans %}</h1>
                <ul>
                {% for item in conceptschemes %}
                  <li><a href="{{ request.route_path('conceptscheme', scheme_id=item.id) }}">{{ get_conceptscheme_label(item.conceptscheme, request.locale_name) }}</a></li>
                {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}
