{% extends 'layout.jinja2' %}

{% block html_title %}Not found{% endblock %}

{% block content %}
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns panel">
        <h1 class="panel-header">500: Er is een technisch probleem.</h1>
        <h5 style="font-size: 20px;">
          Sorry! Onze website heeft een technisch probleem. Hierdoor kan je deze
          pagina niet raadplegen.
        </h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block subfooter %}
{% endblock %}
