{% extends "layout.jinja2" %}

{% set app_package = app_package|default('atramhasis', true) %}
{% set copyright_year = copyright_year|default('2016-2017') %}

{% block html_title %}Home{% endblock %}

{% block header %}
  {% include 'header-main.jinja2' %}
{% endblock %}

{% block content %}
  <div class="bgcontainer">
    <div class="row">
      {% include 'welcome.jinja2' %}
      {% include 'search_form.jinja2' %}
      {#    {% include 'd3cloud.jinja2' %}#}
    </div>
  </div>
{% endblock %}

{% block subfooter %}
  {% include 'conceptschemes_overview.jinja2' %}
  {% include 'subfooter-main.jinja2' %}
{% endblock %}

{% block footer %}
  {% with copyright_year = copyright_year %}
    {% include 'footer-main.jinja2' %}
  {% endwith %}
{% endblock %}

{% block custom_js %}{% endblock %}

