{% extends "layout.jinja2" %}
{% block head %}
    {{ super() }}
    <link rel="canonical" href="{{ request.route_url('home') }}" />
{% endblock %}
{% set app_package = app_package|default('atramhasis', true) %}
{% set copyright_year = copyright_year|default('2014-2020') %}

{% block html_title %}Home{% endblock %}

{% block header %}
  {% include 'header-main.jinja2' %}
{% endblock %}

{% block content %}
  <div class="bgcontainer">
    <div class="row">
      {% include 'welcome.jinja2' %}
      {% include 'search_form.jinja2' %}
      {#    {% include 'd3cloud.jinja2' %}#}
    </div>
  </div>
{% endblock %}

{% block subfooter %}
  {% include 'conceptschemes_overview.jinja2' %}
  {% include 'subfooter-main.jinja2' %}
{% endblock %}

{% block footer %}
  {% with copyright_year = copyright_year %}
    {% include 'footer-main.jinja2' %}
  {% endwith %}
{% endblock %}

{% block cookiebanner %}
  {% set ga_key = ga_key|default(request.registry.settings["ga.tracker_key"]) %}
  {% set show_cookie_banner = show_cookie_banner|default(request.registry.settings["cookie_banner"]) %}
  {% if show_cookie_banner == 'True' %}
    {% from 'macros.jinja2' import cookie_banner %}
    {{ cookie_banner(request, app_package, ga_key) }}
  {% else %}
    {% from 'macros.jinja2' import ga_tracker %}
    {{ ga_tracker(ga_key) }}
  {% endif %}
{% endblock %}

{% block custom_js %}{% endblock %}

