<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ request.locale_name }}">

{% set app_package = app_package|default('atramhasis', true) -%}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Atramhasis - {% block html_title %}Base{% endblock %}</title>

  {% block css_files %}
    <link rel="stylesheet" href="{{request.static_path(app_package + ':static/css/app.css')}}" />
    <link rel="stylesheet" href="{{request.static_path(app_package + ':static/css/print.css')}}" media="print" />
  {% endblock %}

  <link rel="icon" type="image/x-icon" href="{{request.static_path(app_package + ':static/img/favicon.ico')}}" />
  <script src="{{request.static_path(app_package + ':static/js/vendor/modernizr.js')}}"></script>

  {% block ga %}
    {% set ga_key = ga_key|default(request.registry.settings["ga.tracker_key"]) %}
    {% from 'macros.jinja2' import ga_tracker %}
    {% if ga_key %}
      {{ ga_tracker(ga_key) }}
    {% endif %}
  {% endblock %}
</head>
<style>
ul.no_bullet {
list-style-type: none;
padding: 0 ;
margin: 0 ;
}

li.cube {
background: url({{ request.static_path(app_package + ':static/img/listitem.png') }}) no-repeat 0 6px;padding:0 0 15px 15px;
}
</style>
<body>

{% block header %}
  {% include 'header-main.jinja2' %}
{% endblock %}

<div class="bgcontainer">
  {% block content %}
  {% endblock %}
</div>

{% block subfooter %}
  {% include 'subfooter-main.jinja2' %}
{% endblock %}

{% block footer %}
  {% include 'footer-main.jinja2' %}
{% endblock %}

{% block js_files %}
  <script src="{{ request.static_path(app_package + ':static/bower_components/jquery/dist/jquery.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/bower_components/jquery.cookie/jquery.cookie.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/bower_components/jqtree/tree.jquery.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/bower_components/foundation/js/foundation.min.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
