{% block html %}
<link rel="stylesheet" href="{{request.static_path('atramhasis:static/css/foundation.css')}}" />
<link rel="stylesheet" href="{{request.static_path('atramhasis:static/css/jqtree.css')}}" />
<link rel="stylesheet" href="{{request.static_path('atramhasis:static/css/app.css')}}" />
<link rel="icon" type="image/x-icon" href="{{request.static_path('atramhasis:static/img/favicon.ico?v=0.2')}}" />
{% endblock %}