{% extends 'layout.jinja2' %}

{% block html_title %}Not found{% endblock %}

{% block content %}
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns panel">
        <h1 class="panel-header">De pagina werd niet gevonden.</h1>
        <h5 style="font-size: 20px;">
          De pagina die je hebt opgevraagd, bestaat niet (meer) of ze is
          verplaatst.
        </h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block subfooter %}
{% endblock %}
