{% extends "staticlayout.jinja2" %}

{% set app_name = app_name|default('Atramhasis') %}
{% set copyright_year = copyright_year|default('2016-2017') %}

{% block js_files_head %}
  <script src="{{ request.static_path(app_package + ':static/bower_components/jquery/dist/jquery.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/bower_components/jquery.cookie/jquery.cookie.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/bower_components/d3/d3.min.js') }}"></script>
{% endblock %}

{% block header %}
  {% include 'header-page.jinja2' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block subfooter %}
  {% include 'subfooter-page.jinja2' %}
{% endblock %}

{% block footer %}
  {% with copyright_year = copyright_year %}
    {% include 'footer-page.jinja2' %}
  {% endwith %}
{% endblock %}

{% block custom_js %}{% endblock %}
