<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ request.locale_name }}">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Atramhasis - {% block html_title %}Base{% endblock %}</title>
		{% block css_files %}
		<link rel="stylesheet" href="{{request.static_path('atramhasis:static/css/app.css')}}" />
        <link rel="stylesheet" href="{{request.static_path('atramhasis:static/css/print.css')}}" media="print" />
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{request.static_path('atramhasis:static/img/favicon.ico')}}" />
		<script src="{{request.static_path('atramhasis:static/js/vendor/modernizr.js')}}"></script>
		{% block ga %}
			{% set ga_key = ga_key|default(request.registry.settings["ga.tracker_key"]) %}
			{% from 'macros.jinja2' import ga_tracker %}
			{% if ga_key %}
				{{ ga_tracker(ga_key) }}
			{% endif %}
		{% endblock %}
	</head>
	<body>
        <div class="row header">
			<div class="large-12 columns">
				{% block header %}
                <nav class="top-bar" data-topbar>
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="{{ request.route_path('home') }}">[atramhasis]</a></h1>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                    <ul class="right">
                    {% set default_lang = request.registry.settings.get('pyramid.default_locale_name') %}
                    {% set languages = request.registry.settings.get('available_languages', default_lang).split() %}
                    {%- for language in languages %}
                        <li {% if request.locale_name==language %}class='active'{% endif %}><a href="{{ request.route_path('locale') }}?language={{ language }}">{{ language|upper }}</a></li>
                    {%- endfor %}
                    </ul>
                    </section>
				</nav>
				{% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
            {% block content %}
            {% endblock %}
            </div>
        </div>

        <footer class="row">
			<div class="large-12 columns">
				{% block footer %}
                <hr>
                <div class="row">
                    <div class="large-12 columns">
                        <p>&copy; Copyright 2014-2015 <a href="https://www.onroerenderfgoed.be/">Flanders Heritage Agency</a></p>
                    </div>
				</div>
				{% endblock %}
            </div>
		</footer>

		{% block js_files %}
		<script src="{{request.static_path('atramhasis:static/js/vendor/jquery.js')}}"></script>
		<script src="{{request.static_path('atramhasis:static/js/vendor/jquery.cookie.js')}}"></script>
		<script src="{{request.static_path('atramhasis:static/js/vendor/tree.jquery.js')}}"></script>
		<!-- Included JS Files (Compressed) -->
		<script src="{{request.static_path('atramhasis:static/js/foundation.min.js')}}"></script>
		<script src="{{request.static_path('atramhasis:static/js/vendor/app.js')}}"></script>
		<script>
			$(document).foundation();
		</script>
		{% endblock %}
		

	</body>
</html>
