<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ request.locale_name }}">

{% set app_package = app_package|default('atramhasis', true) -%}
{% set app_name = app_name|default('Atramhasis') %}
{% set copyright_year = copyright_year|default('2016-2017') %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ app_name }} - {% block html_title %}Base{% endblock %}</title>

  {% block css_files %}
    <link rel="stylesheet" href="{{request.static_path(app_package + ':static/css/app.css')}}" />
    <link rel="stylesheet" href="{{request.static_path(app_package + ':static/css/print.css')}}" media="print" />
  {% endblock %}

  <link rel="icon" type="image/x-icon" href="{{request.static_path(app_package + ':static/img/favicon.ico')}}" />
  <script src="{{request.static_path(app_package + ':static/bower_components/modernizr/modernizr.js')}}"></script>

  {% block js_files_head %}
    <script src="{{ request.static_path(app_package + ':static/bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ request.static_path(app_package + ':static/bower_components/jquery.cookie/jquery.cookie.js') }}"></script>
  {% endblock %}

  {% block ga %}
    {% set ga_key = ga_key|default(request.registry.settings["ga.tracker_key"]) %}
    {% from 'macros.jinja2' import ga_tracker %}
    {% if ga_key %}
      {{ ga_tracker(ga_key) }}
    {% endif %}
  {% endblock %}
</head>
<body>
{% block vl_header %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block subfooter %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block js_files %}
  <script src="{{ request.static_path(app_package + ':static/bower_components/foundation/js/foundation.min.js') }}"></script>
  <script src="{{ request.static_path(app_package + ':static/js/app.js') }}"></script>
{% endblock %}

{% block vl_footer %}
{% endblock %}

{% block custom_js %}{% endblock %}
</body>
</html>
