<div class="row">
  <div class="large-4 columns">
    <div class="subfooter-page">
      <h5>POPULAIR IN DEZE CATEGORIE</h5>
      <ul class="no_bullet">
        <li class="cube"><a href="">Belgium</a></li>
        <li class="cube"><a href="">Flanders</a></li>
        <li class="cube"><a href="">Heist op den berg</a></li>
        <li class="cube"><a href="">World</a></li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="subfooter-page">
      <h5>RECENT DOOR U BEKEKEN</h5>
      <ul class="no_bullet">
        <li class="cube"><a href="">Belgium</a></li>
        <li class="cube"><a href="">Flanders</a></li>
        <li class="cube"><a href="">Heist op den berg</a></li>
        <li class="cube"><a href="">World</a></li>
      </ul>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="subfooter-page">
      <h5>Volg Atramhasis</h5>
      <ul class="no_bullet">
        <li class="cube"><a href="">Ons discussieforum</a></li>
        <li class="cube"><a href="">Onze online handleiding</a></li>
        <li class="cube"><a href="">Onze issue tracker</a></li>
      </ul>
    </div>
  </div>
