<div class="row">
  <div class="large-3 columns subfooter">
    <h3>Geografie</h3>
    <a href="">link</a>, <a href="">link</a>, <a href="">link</a>,
  </div>
  <div class="large-3 columns subfooter">
    <h3>Stijlen &amp; Culturen</h3>
    <a href="">link</a>, <a href="">link</a>, <a href="">link</a>,
  </div>
  <div class="large-3 columns subfooter">
    <h3>soorten bomen</h3>
    <a href="">link</a>, <a href="">link</a>, <a href="">link</a>,
  </div>
  <div class="large-3 columns subfooterright">
    <h3>Materialen</h3>
    <a href="">link</a>, <a href="">link</a>, <a href="">link</a>,
  </div>
