{% from "macros.jinja2" import popular_concepts %}

<div class="row">
  <div class="large-3 columns subfooter">
    <h3>Geografie</h3>
    {{ popular_concepts(request, 'GEOGRAPHY', 3) }}
  </div>
  <div class="large-3 columns subfooter">
    <h3>Stijlen &amp; Culturen</h3>
    {{ popular_concepts(request, 'STYLES', 3) }}
  </div>
  <div class="large-3 columns subfooter">
    <h3>soorten bomen</h3>
    {{ popular_concepts(request, 'SPECIES', 3) }}
  </div>
  <div class="large-3 columns subfooterright">
    <h3>Materialen</h3>
    {{ popular_concepts(request, 'MATERIALS', 3) }}
  </div>
</div>