<html>
<head>
    <link rel="stylesheet" href="{{ request.static_path('atramhasis:static/admin/src/app/resources/App.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('atramhasis:static/admin/src/app/resources/FilteredGrid.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('atramhasis:static/admin/src/app/resources/ConceptForm.css') }}">
    <link rel="stylesheet" href="{{ request.static_path('atramhasis:static/admin/src/app/resources/ConceptDetail.css') }}">
    <title>Atramhasis Admin</title>
</head>
<body class="claro">

    <div id='appDiv'></div>
    <script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 1" src="{{ request.static_path('atramhasis:static/admin/src/dojo/dojo.js') }}"></script>
	<script type="text/javascript">
        (function () {
            // let the loader know where to look for packages
            var config = {
                baseUrl: '{{ request.static_path("atramhasis:static/admin/src/") }}',
                packages: [
                    'dojo',
                    'dijit',
                    'dojox',
                    'dgrid',
                    'put-selector',
                    'xstyle',
                    { name: 'app', location: 'app', map: {} }
                ]
            };
            require(config, ['app']);



        })();
	</script>


</body>
</html>