.formContainer .cFormDialog {
    height: 400px;
    overflow: auto;
}
.formContainer .cFormDialog li {
    padding: 5px;
}

.claro .formContainer .dijitDialogPaneActionBar {
    margin: 0;
}

.dgrid-column-remove {
    width: 35px;
}