.conceptDetail {
    color: #404245;
}

.actionBar {
    background-color: #333333;
    height: 20px;
    border: none;
}

.actionBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.actionBar ul li {
    display: inline;
    float: right;
}

.actionBar ul li a:link, .actionBar ul li a:visited {
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: white;
    width: 60px;
    text-align: center;
    background-color: #0078A0;
    border-left: 1px solid #008CBA;
}

.actionBar ul li a:hover {
    background-color: #008CBA;
}

.actionBar ul li.disabled a:link, .actionBar ul li.disabled a:visited {
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: #7d7d7d;
    width: 60px;
    text-align: center;
    background-color: #bbbbbb;
    border-left: 1px solid #4f4f4f;
    cursor: default;
}

.conceptProps {
    height: 40px;
    font-weight: bold;

}

.conceptProps ul {
    list-style-type: none;
    text-align: center;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #CEE6FA;
}

.conceptProps ul li {
    float: left;
    border-left: 1px solid #ffffff;
    line-height: 40px;
    padding: 0 15px;
}

.conceptDetail h1 {
    text-align: center;
    border-bottom: 1px solid #b5bcc7;
    background-color: #F2F2F2;
    margin: 0;
    padding: 10px;
}

.conceptDetail h3 {
    margin: 0;
}

ul.conceptlist {
    margin: 5px 0;
}

ul.conceptlist li.clickable {
    cursor: pointer;
    color: #0078A0;
}
