@charset "UTF-8";
.sticky {
  border-bottom: 1px solid #f0f1f3;
}

footer {
  clear: both;
  margin: 10px 0 0 0;
  padding: 10px 0;
  border-top: 1px solid $mid-gray;
}
footer .footerpage {
  clear: both;
  margin: 0px 0px;
  padding: 26px 0px;
}
