<div style="height:100%;">

    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, liveSplitters:true" id="appContainer">

        <div id="appHeader" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', splitter:false">
            <h1>
                <a href="/">[atramhasis]</a>
            </h1>
        </div>

        <div id="appMenu" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'">

            <div id="select-wrapper">
                <label for="selectNode">Thesaurus: </label><input id="selectNode" />
            </div>

            <div id="filteredGridNode"></div>

            <div id="addConceptNode"></div>

        </div>

        <div id="center" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="splitter:true, region:'center', tabPosition:'bottom'"></div>
    </div>
</div>
