<form data-dojo-attach-point='containerNode'>
    <div data-dojo-attach-point="formNode" class="cFormDialog" >
        <input type="hidden" id="cscheme" name="cscheme" data-dojo-type="dijit/form/TextBox" />

            <div id='myTable'>

            </div>

            <div data-dojo-attach-point="labelContainerNode"></div>
            <div data-dojo-attach-point="broaderContainerNode"></div>
            <div data-dojo-attach-point="narrowerContainerNode"></div>
            <div data-dojo-attach-point="relatedContainerNode"></div>
                <label for='cbroader'>broader</label>
                <input type="text" name="cbroader" id="cbroader" data-dojo-type="dijit/form/NumberTextBox" />

                <button id='submit' data-dojo-type='dijit/form/Button' name='submit' type='submit'>submit</button>
            </div>
        </div>
    </div>

    <div data-dojo-attach-point="spinnerNode" style="display:none">
        Please wait…
    </div>

    <div data-dojo-attach-point="successNode" style="display:none">
        The concept or collection has been added to the thesaurus
    </div>
</form>