<div>
    <h1 data-dojo-attach-point='nameNode'>${label}</h1>
    <ul>
        <li data-dojo-attach-point='idNode'>id: ${conceptid}</li>
        <li data-dojo-attach-point='typeNode'>type: ${type}</li>
        <li data-dojo-attach-point='uriNode'>uri: ${uri}</li>
        <li data-dojo-attach-point='schemeidNode'>scheme: ${schemeid}</li>
    </ul>

    <h2>labels</h2>
    <ul data-dojo-attach-point="labelListNode"></ul>

    <h2>notes</h2>
    <ul data-dojo-attach-point="notesListNode"></ul>

    <h2>relations</h2>
    <h4>broader</h4>
    <ul data-dojo-attach-point="broaderListNode"></ul>
    <h4>narrower</h4>
    <ul data-dojo-attach-point="narrowerListNode"></ul>
    <h4>related</h4>
    <ul data-dojo-attach-point="relatedListNode"></ul>
    <h4>members</h4>
    <ul data-dojo-attach-point="membersListNode"></ul>
    <h4>member of</h4>
    <ul data-dojo-attach-point="memberofListNode"></ul>

</div>