<form data-dojo-attach-point='containerNode'>
    <div data-dojo-attach-point="formNode" class="cFormDialog" >
        <input type="hidden" id="cscheme" name="cscheme" data-dojo-type="dijit/form/TextBox" />
        <ul>
            <li data-dojo-attach-point='schemeNode'></li>
            <li>
                <label for='ctype'>Type</label>
                <select id="ctype" name="ctype" data-dojo-type='dijit/form/Select'>
                    <option value="concept" selected>Concept</option>
                    <option value="collection">Collection</option>
                </select>
            </li>
            <li>
                <div data-dojo-attach-point="labelContainerNode"></div>
            </li>
            <li>
                <div data-dojo-attach-point="broaderContainerNode"></div>
            </li>
            <li>
                <div data-dojo-attach-point="narrowerContainerNode"></div>
            </li>
            <li>
                <div data-dojo-attach-point="relatedContainerNode"></div>
            </li>
            <li>
                <button id='submit' data-dojo-type='dijit/form/Button' name='submit' type='submit'>submit</button>
            </li>
        </ul>
    </div>

    <div data-dojo-attach-point="spinnerNode" style="display:none">
        Please wait…
    </div>

    <div data-dojo-attach-point="successNode" style="display:none">
        The concept or collection has been added to the thesaurus
    </div>
</form>