<div>
    <div class="actionBar">
        <ul data-dojo-attach-point="actionNode"></ul>
    </div>

    <h1 data-dojo-attach-point='nameNode'>${schemeid}: <i>${label}</i></h1>

    <div class="conceptProps">
        <ul>
            <li data-dojo-attach-point='idNode'>id: ${conceptid}</li>
            <li data-dojo-attach-point='typeNode'>type: ${type}</li>
            <li data-dojo-attach-point='uriNode'>uri: ${uri}</li>
        </ul>
    </div>

    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'labels', open:true">
        <div data-dojo-attach-point="prefLabelListNode"></div>
        <div data-dojo-attach-point="altLabelListNode"></div>
        <div data-dojo-attach-point="hiddenLabelListNode"></div>
    </div>

    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'notes', open:true">
        <div data-dojo-attach-point="changeNoteListNode"></div>
        <div data-dojo-attach-point="definitionListNode"></div>
        <div data-dojo-attach-point="editorialNoteListNode"></div>
        <div data-dojo-attach-point="exampleListNode"></div>
        <div data-dojo-attach-point="historyNoteListNode"></div>
        <div data-dojo-attach-point="scopeNoteListNode"></div>
        <div data-dojo-attach-point="noteListNode"></div>
    </div>

    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'relations', open:true">
        <div data-dojo-attach-point="broaderListNode"></div>
        <div data-dojo-attach-point="narrowerListNode"></div>
        <div data-dojo-attach-point="relatedListNode"></div>
        <div data-dojo-attach-point="membersListNode"></div>
        <div data-dojo-attach-point="memberofListNode"></div>
    </div>


</div>